.left95{float:left; width=45%;}
.left85{float:left; width=45%;}
.left75{float:left; width=45%;}
.left65{float:left; width=45%;}
.left55{float:left; width=45%;}
.left50{float:left; width=45%;}
.left45{float:left; width=45%;}
.left35{float:left; width=45%;}
.left25{float:left; width=45%;}
.left15{float:left; width=45%;}
.left5{float:left; width=45%;}
.right95{float:right; width = 25%;}
.right85{float:right; width = 25%;}
.right75{float:right; width = 25%;}
.right65{float:right; width = 25%;}
.right55{float:right; width = 25%;}
.right50{float:right; width = 25%;}
.right45{float:right; width = 25%;}
.right35{float:right; width = 25%;}
.right25{float:right; width = 25%;}
.right15{float:right; width = 25%;}
.right5{float:right; width = 25%;}